@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

%clear-margin-and-padding {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 3rem;
  @extend %clear-margin-and-padding;
}

h3 {
  color: rgb(48, 162, 204);
  @extend %clear-margin-and-padding;
}

ul,
ol {
  list-style-type: none;
  @extend %clear-margin-and-padding;
}

li {
  display: flex;
  margin: 1rem 0;
  p {
    margin: 0;
    min-width: 3rem;
  }
}

#app {
  box-sizing: border-box;
  position: relative;
  top: 1%;
  width: 66%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2% 0;
  border-radius: 5px;
  background-color: white;
}

#app > hr {
  margin: 2% 10%;
}

#recipe-general-info,
#recipe-instructions {
  padding: 0 5%;
}

#recipe-author-rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categories {
  width: 100%;
  display: flex;
}

#recipe-desc p {
  padding: 0 5%;
}

#recipe-instructions {
  overflow: auto;
}

#recipe-about {
  width: 100%;
  display: flex;
  justify-content: space-around;
  li {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

#recipe-ingredients {
  width: 30%;
  float: left;
  padding: 0 5px;
}

#recipe-directions {
  width: 65%;
  float: left;
  padding: 0 5px;
}

.category {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(48, 162, 204);
  text-align: center;
}

.recipe-desc-photo {
  width: 100%;
}

@media (max-width: 690px) {
  #recipe-ingredients,
  #recipe-directions {
    width: 100%;
  }
}
